{% extends "layout.html" %}

{% block title %}Campaigns{% endblock %}
{% block content %}
  <h2>Campaigns</h2>
  <p>
    {% if campaigns %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Gamemaster</th>
      </tr>
      {% for campaign in campaigns %}
        <tr>
          <td>{{ campaign.name }}</td>
          <td>{{ campaign.description }}</td>
          <td>{{ campaign.username }}</td>
          {% if session.get("user_name") %}
            {% if campaign.players_character_id or session.get("user_id") == campaign.gamemaster_id %}
            <td>Mukana kampanjassa</td>
            {% else %}
            <td>Ei mukana kampanjassa</td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no campaigns to show.</p>
    {% endif %}
  </p>
{% endblock %}