{% extends "layout.html" %}

{% block title %}{{ campaign.name }}{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
  <h2>{{ campaign.name }}</h2>
  <p>
    <ul>
      <li>Description: {{ campaign.name }}</li>
      <li>Gamemaster: {{ campaign.username }}</li>
    </ul>
  </p>

  {% if is_gm %}
    <p><a href="/campaign/{{campaign.id}}/edit">Edit campaign</a></p>
  {% endif %}

  <h3>Characters in this campaign:</h3>
  {% if characters %}
    <ul>
      {% for character in characters %}
      <li><a href="/character/{{character.id}}">{{ character.name }}</a>, a level {{ character.level }} {{ character.class_name }}      </li>
      {% if is_gm or character.player_id == session.get("user_id") %}
      <form action="/campaign/{{campaign.id}}/remove/{{character.id}}" method="POST">
        <input type = "submit" value = "Remove from campaign"/>
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
      </form>
      {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <p>This campaign currently has no characters.</p>
    {% endif %}

  {% if is_gm %}
    <p>
      <p>Add a new character to this campaign:</p>
      <form action="/campaign/{{campaign.id}}" method="POST">
        <dl>
          {{ render_field(form.character_id) }}
        </dl>
	      <input type="submit" value="Add character">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
	    </form>
    </p>
    <p>
      <form action="/campaign/{{campaign.id}}/delete" method="POST">
	      <input type="submit" value="Delete campaign">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
	    </form>
    </p>
  {% endif %}
{% endblock %}