{% extends "layout.html" %}

{% block title %}{{ character.name }}{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
  <h2>{{ character.name }}</h2>
  <p>
    <ul>
      <li>Class: {{ character_class.name }}</li>
      <li>Level: {{ character.level }}</li>
      <li>Strength: {{ character.strength }}</li>
      <li>Speed: {{ character.speed }}</li>
      <li>Intellect: {{ character.intellect }}</li>
      <li>Combat: {{ character.combat }}</li>
      <li>Sanity: {{ character.sanity }}</li>
      <li>Fear: {{ character.fear }}</li>
      <li>Body: {{ character.body }}</li>
      <li>Hp: {{ character.current_hp }}/{{ character.max_hp }}</li>
      <li>Stress: {{ character.current_stress }}/{{ character.min_stress }}</li>
      {% if character.description %}
      <li>Description: {{ character.description }}</li>
      {% endif %}
      {% if character_campaign %}
      <li>Campaign: <a href="/campaign/{{character_campaign.id}}">{{ character_campaign.name }}</a></li>
      {% endif %}
    </ul>
  </p>
  {% if session.get("user_id") == character.player_id %}
    <p><a href="/character/{{character.id}}/edit">Edit {{ character.name }}</a></p>
  {% endif %}

  <h3>Skills</h3>
  {% if skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Skill level</th>
        <th></th>
      </tr>
      {% for skill in skills %}
        <tr>
          <td>{{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          <td>{{ skill.level }}</td>
          <td>
            <form action="/character/{{character.id}}/skill/{{skill.id}}" method="POST">
              <input type = "submit" value = "Remove"/>
              <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
      <p>{{ character.name }} currently has no skills.</p>
    {% endif %}
    {% if session.get("user_id") == character.player_id %}
    <p>
      <p>Add a new skill to {{ character.name }}:</p>
      <form action="/character/{{character.id}}" method="POST">
        <dl>
          {{ render_field(add_skill_form.skill_id) }}
          {{ render_field(add_skill_form.add_skill_submit) }}
        </dl>
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
      </form>
    </p>
    {% endif %}

  <h3>Items</h3>
  {% if items %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <form action="/character/{{character.id}}/item/{{item.id}}" method="POST">
              <input type = "submit" value = "Use item"/>
              <input type="hidden" name="amount" value = "{{ item.amount }}" />
              <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
      <p>{{ character.name }} currently has no items.</p>
    {% endif %}

    {% if session.get("user_id") == character.player_id %}
    <p>
      <p>Add a new item to {{ character.name }}:</p>
      <form action="/character/{{character.id}}" method="POST">
        <dl>
          {{ render_field(add_item_form.item_id) }}
          {{ render_field(add_item_form.amount) }}
          {{ render_field(add_item_form.add_item_submit) }}
        </dl>
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
      </form>
    </p>
    {% endif %}

{% endblock %}