{% extends "layout.html" %}

{% block title %}Classes{% endblock %}
{% block content %}
  <h2>Classes</h2>
  <p>
    {% if classes %}
    <table>
      <tr>
        <th>Name</th>
        <th>Stat adjustments</th>
        <th>Trauma response</th>
        <th>Class skills</th>
      </tr>
      {% for class in classes %}
        <tr>
          <td>{{ class[1] }}</td>
          <td>{{ class[2] }}</td>
          <td>{{ class[3] }}</td>
          <td>{{ class[4] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no classes to show.</p>
    {% endif %}
  </p>
  <p>
    <p>Add a new class:</p>
    {% from "_formhelpers.html" import render_field %}
    <form action="/classes" method="POST">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.stat_adjustment) }}
        {{ render_field(form.trauma_response) }}
        {{ render_field(form.class_skills) }}
      </dl>
	<input type="submit" value="Add new">
  <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
	</form>
  </p>
{% endblock %}