{% extends "layout.html" %}

{% block title %}Items{% endblock %}
{% block content %}
  <h2>Items</h2>
  <p>
    {% if items %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no items to show.</p>
    {% endif %}
  </p>
  <p>
    <p>Add a new item:</p>
    {% from "_formhelpers.html" import render_field %}
    <form action="/items" method="POST">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
      </dl>
		<input type="submit" value="Add new">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
	</form>
  </p>
{% endblock %}