{% macro render_navlink(href, text) %}
<a href="{{href}}" class="{% if request.path == href %}is-active{% endif %}">{{text}}</a>
{% endmacro %}

<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<html>

<head>
  <title>Squad Roster - {% block title %}{% endblock %}</title>
</head>

<body>
  <h1>Squad Roster</h1>
  <div class="topnav">
    {{ render_navlink("/", "Home") }}
    {% if session.user_id %}
    {{ render_navlink("/ownpage", "My page") }}
    {% endif %}
    {{ render_navlink("/items", "Items") }}
    {{ render_navlink("/skills", "Skills") }}
    {{ render_navlink("/classes", "Classes") }}
    {{ render_navlink("/campaigns", "Campaigns") }}
    <span class="flex-spacer"></span>
    {% if session.user_id %}
    {{ render_navlink("/logout", "Log Out") }}
    {% else %}
    {{ render_navlink("/login", "Log In") }}
    {{ render_navlink("/register", "Register") }}
    {% endif %}
  </div>
  {% block content %}{% endblock %}
</body>

</html>