<!doctype html>
<html> 
	<head>
		<title>Squad Roster - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<h1>Squad Roster</h1>
		<a href="/">Home</a>
		{% if session.user_id %}
			<a href="/ownpage">My page</a>
			<a href="/logout">Log out</a>
		{% else %}
			<a href="/login">Log In</a>
			<a href="/register">Register</a>
		{% endif %}
		<a href="/items">Items</a>
		<a href="/skills">Skills</a>
		<a href="/classes">Classes</a>
		<hr/>
		{% block content %}{% endblock %}
		<hr/>
	</body>
</html>