{% extends "layout.html" %}

{% block title %}{{ session.user_name }}{% endblock %}
{% block content %}
    
    <h2>{{ session.user_name }}'s page</h2>

    <p>
        {% if gm_campaigns %}
        <h3>Campaigns where {{ session.user_name }} is the gamemaster</h3>
        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
          {% for campaign in gm_campaigns %}
            <tr>
              <td>{{ campaign[0] }}</td>
              <td>{{ campaign[1] }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>You aren't the gamemaster in any campaigns.</p>
        {% endif %}
      </p>
      <p>
        <p>Add a new campaign:</p>
        {% from "_formhelpers.html" import render_field %}
        <form action="/ownpage" method="POST">
          <dl>
            {{ render_field(campaign_form.name) }}
            {{ render_field(campaign_form.description) }}
            {{ render_field(campaign_form.campaign_submit) }}
          </dl>
          <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        </form>
      </p>
      <h3>{{ session.user_name }}'s characters</h3>
      <p>
        {% if characters %}
        <table>
          <tr>
            <th>Name</th>
          </tr>
          {% for character in characters %}
            <tr>
              <td>{{ character[0] }}</td>
            </tr>
          {% endfor %}
        </table>
        {% else %}
          <p>You don't have any characters yet.</p>
        {% endif %}
      </p>
      <p>
        <p>Add a new character:</p>
        <form action="/ownpage" method="POST">
          <dl>
            {{ render_field(character_form.name) }}
            {{ render_field(character_form.class_id) }}
            {{ render_field(character_form.level) }}
            {{ render_field(character_form.strength) }}
            {{ render_field(character_form.speed) }}
            {{ render_field(character_form.intellect) }}
            {{ render_field(character_form.combat) }}
            {{ render_field(character_form.sanity) }}
            {{ render_field(character_form.fear) }}
            {{ render_field(character_form.body) }}
            {{ render_field(character_form.max_hp) }}
            {{ render_field(character_form.min_stress) }}
            {{ render_field(character_form.description) }}
            {{ render_field(character_form.character_submit) }}
          </dl>
          <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        </form>
      </p>
{% endblock %}