{% extends "layout.html" %}

{% block title %}Skills{% endblock %}
{% block content %}
  <h2>Skills</h2>
  <p>
    <h3>Trained skills</h3>
    {% if trained_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      {% for skill in trained_skills %}
        <tr>
          <td>{{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          {% if session.get("is_admin") %}
          <td><a href="/skill/{{skill.id}}/edit">Edit skill</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no trained skills.</p>
    {% endif %}
  </p>
  <p>
    <h3>Expert skills</h3>
    {% if expert_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      {% for skill in expert_skills %}
        <tr>
          <td>{{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          {% if session.get("is_admin") %}
          <td><a href="/skill/{{skill.id}}/edit">Edit skill</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no expert skills.</p>
    {% endif %}
  </p>
  <p>
    <h3>Master skills</h3>
    {% if master_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      {% for skill in master_skills %}
        <tr>
          <td>{{ skill.name }}</td>
          <td>{{ skill.description }}</td>
          {% if session.get("is_admin") %}
          <td><a href="/skill/{{skill.id}}/edit">Edit skill</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no master skills.</p>
    {% endif %}
  </p>
  {% if session.get("is_admin") %}
    <p><a href="/skill/add">Add a new skill</a></p>
  {% endif %}
{% endblock %}