{% extends "layout.html" %}

{% block title %}Skills{% endblock %}
{% block content %}
  <h2>Skills</h2>
  <p>
    <h3>Trained skills</h3>
    {% if trained_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for skill in trained_skills %}
        <tr>
          <td>{{ skill[1] }}</td>
          <td>{{ skill[2] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no trained skills.</p>
    {% endif %}
  </p>
  <p>
    <h3>Expert skills</h3>
    {% if expert_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for skill in expert_skills %}
        <tr>
          <td>{{ skill[1] }}</td>
          <td>{{ skill[2] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no expert skills.</p>
    {% endif %}
  </p>
  <p>
    <h3>Master skills</h3>
    {% if master_skills %}
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for skill in master_skills %}
        <tr>
          <td>{{ skill[1] }}</td>
          <td>{{ skill[2] }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>There are currently no master skills.</p>
    {% endif %}
  </p>
  <p>
    <p>Add a new skill:</p>
    {% from "_formhelpers.html" import render_field %}
    <form action="/skills" method="POST">
      <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.description) }}
        {{ render_field(form.level) }}
      </dl>
	<input type="submit" value="Add new">
  <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
	</form>
  </p>
{% endblock %}